
# Proper MIME type for JavaScript modules
<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType application/javascript .mjs
  AddType text/javascript .js
  AddType text/javascript .mjs
</IfModule>

# JavaScript modules are requested with Accept: text/html
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP_ACCEPT} text/html
  RewriteCond %{REQUEST_URI} \.js$
  RewriteRule .* - [T=text/javascript]
</IfModule>
